/coverage
/demo/dist
/es
/lib
/node_modules
/umd
npm-debug.log*
demo/src/graph-meta-data.d.ts
demo/src/graph-meta-data.js
demo/src/graph-meta-data.js.map
demo/src/index.d.ts
demo/src/index.js
demo/src/index.js.map
src/D3Component.d.ts
src/D3Component.js
src/D3Component.js.map
src/D3Component.tsx
src/index.d.ts
src/index.js
src/index.js.map
src/raw-data-props.d.ts
src/raw-data-props.js
src/raw-data-props.js.map
src/raw-data-props.ts
