
.icon-drawing:before { content: '\e800'; } /* '' */
.icon-p-1:before { content: '\e801'; } /* '' */
.icon-p-2:before { content: '\e802'; } /* '' */
.icon-p-3:before { content: '\e803'; } /* '' */
.icon-p-4:before { content: '\e804'; } /* '' */
.icon-p-5:before { content: '\e805'; } /* '' */
.icon-p-6:before { content: '\e806'; } /* '' */
.icon-p-8:before { content: '\e808'; } /* '' */
.icon-p-9:before { content: '\e809'; } /* '' */
.icon-p-10:before { content: '\e80a'; } /* '' */
.icon-p-11:before { content: '\e80b'; } /* '' */
.icon-p-12:before { content: '\e80c'; } /* '' */
.icon-p-13:before { content: '\e80d'; } /* '' */
.icon-p-14:before { content: '\e80e'; } /* '' */
.icon-p-15:before { content: '\e80f'; } /* '' */
.icon-p-17:before { content: '\e810'; } /* '' */
.icon-p-16:before { content: '\e811'; } /* '' */