
.cola-graph .node {
  stroke: #fff;
  stroke-width: 1.5px;
    cursor: move;
}

.cola-graph .node-highlight{
  stroke: #FF9281 !important;
  stroke-width: 5px !important ;
}

.cola-graph .group {
  stroke: #fff;
  stroke-width: 1.5px;
  cursor: move;
  opacity: 0.7;
}

.cola-graph .link {
  stroke: #7a4e4e;
  stroke-width: 3px;
  stroke-opacity: 1;
}

.cola-graph .label {
    fill: white;
    font-family: Verdana;
    font-size: 25px;
    text-anchor: middle;
    cursor: move;
}
.cola-graph .icon-label{
      fill: white;
    font-family: fontello;
    font-size: 25px;
    text-anchor: middle;
    cursor: move;

}
.cola-graph .graph-cola-label{
  fill:white  ;
  stroke-width:3;
  stroke:rgb(0,0,0);
  cursor: move;
 }
 .cola-graph .graph-cola-label-text
 {
   cursor: move;
 }
 .cola-graph-background{
   fill:white;
 }