.cola-graph {
  width: 100%;
  height: 100%;
}
.cola-graph .group-label {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 15pt;
  opacity: 0.5;
}
.cola-graph .node {
  stroke: #fff;
  stroke-width: 1.5px;
  cursor: move;
}
.cola-graph .node:hover {
  stroke-width: 3px;
}

.cola-graph .node-highlight {
  stroke: #ff9281 !important;
  stroke-width: 5px !important ;
}

.cola-graph .group {
  stroke: #fff;
  stroke-width: 1.5px;
  cursor: move;
  opacity: 0.7;
}

.cola-graph .link {
  stroke: #7a4e4e;
  stroke-width: 3px;
  stroke-opacity: 1;
}
.cola-graph .link:hover {
  stroke: #7a4e4e;
  stroke-width: 3px;
  stroke-opacity: 0.5;
}

.cola-graph .label {
  fill: white;
  font-family: Verdana;
  font-size: 25px;
  text-anchor: middle;
  cursor: move;
}
.cola-graph .icon-label {
  fill: white;
  font-family: fontello, FontAwesome;
  font-size: 25px;
  text-anchor: middle;
  cursor: move;
}
.cola-graph .graph-cola-label-rect {
  fill: white;
  stroke-width: 3;
  stroke: rgb(0, 0, 0);
  cursor: move;
}
.cola-graph .graph-cola-label-text {
  cursor: move;
}
.cola-graph-background {
  fill: white;
}
